[data-planetName='mercury'] {
  --clr-planet: hsl(194, 48%, 49%);
}
[data-planetName='venus'] {
  --clr-planet: hsl(33, 82%, 61%);
}
[data-planetName='earth'] {
  --clr-planet: hsl(263, 67%, 51%);
}
[data-planetName='mars'] {
  --clr-planet: hsl(10, 63%, 51%);
}
[data-planetName='saturn'] {
  --clr-planet: hsl(17, 73%, 46%);
}
[data-planetName='jupiter'] {
  --clr-planet: hsl(2, 68%, 53%);
}
[data-planetName='uranus'] {
  --clr-planet: hsl(169, 73%, 44%);
}
[data-planetName='neptune'] {
  --clr-planet: hsl(222, 87%, 56%);
}
